* {
    font-family: Gill Sans, sans-serif;
}
body {
    background-image: url('crossword.png');
    background-position-x: center; 
}

header {
    width:100%;
    height:5em;
    position:absolute;
    top:0;
    left:0;
    padding:0.5em;
    margin:auto;
    text-align: center;
}

header object {
    position:absolute;
    left:0em;
    top:0em;
}

#header {
    padding:0.5em;
    margin:auto;
    text-align: center;
}

#title {
    font-size: 2em;
}
#labSpan {
    color:#D80000;
}

nav {
    position: absolute;
    top:6em;
    left: 0;
    width: 100%;
    margin: auto;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
}

nav ul {
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    float: left;
    width: 14%;
}

nav ul li a {   
    text-align: center;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: gold;
}

main {
    padding:1em;
    width:75%;
    position: relative;
    top:10em;
    margin:auto;
}

form {
    padding:1em;
}

#levels {
    test-align: justify;
}

#map {
    float: right;
}

footer {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    font-size: 0.75em;
    padding:1em;
}